/.github
/.vscode
/ai-chat-frontend
/Buildings-List
/Calculator
/campus-connect-v1-fe
/campus_connect_v3_fe
/CSE-CTS
/CTS-DICE-ROLLER
/CTS-FONT-PREVIEWER
/CTS-Q1-DIGITCOUNTER
/C_PROGRAMS
/demo 1.session.sql
/dotnet-full-stack-learning-path-separated-codebase
/DSA-SHEET
/E-commerce-p1
/Event_Delegation_Task
/HospitalManagement
/Key-Detector
/Practice
/Quiz-App
/Self-Learn
/SESSION
/To-do App
/Todo-Full-Stack
/Todo-SpringBoot
/zip-file.zip